*.pidb
*.userprefs
*.swp
*.DS_Store
*.nib
*.suo
*.user
*.pfx
*.lock.json

.*

bin/
obj/
!**/proguard/bin/
*_ReSharper.*/
 
Resource.designer.cs

packages/
Components/
BMM.jmconfig
BMM.sln.GhostDoc.xml
*.ncrunchproject
*.ncrunchsolution

node_modules/
AppCenterArtifacts/