<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="./packages" />
  </config>
  <packageSources>
    <add key="Official NuGet Gallery" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSources>
    <add key="BCC VSTS Gallery" value="https://bcc-its.pkgs.visualstudio.com/_packaging/bcc/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="Official NuGet Gallery" value="https://api.nuget.org/v3/index.json" />
  </activePackageSource>
</configuration>
